body{
    background-color: #1c1b1b;
    font-family: 'Oswald', sans-serif;
}

.header{
    height: 67px;
    color:black;
    font-size: 34px;
    background-color: #8e0000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    position: fixed;
    width: 100%;
    left:0px;
    top:0px;
    z-index: 5;
}

.title{
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin:97px 0px 30px 0px;
    text-shadow: 1px 1px #8e0000;
}

.film-poster{
    width: 130px;
    margin-bottom: 10px;
    border: 4px solid #8e0000;
    border-radius: 4px;
    margin: 10px 10px;
}

.film-poster img{
    width: 100%;
    height: 100%;
}

.movies{
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: last baseline;
}

.session{
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 102px;
}

.session span{
    margin-bottom: 10px;
}

.seat{
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.not-available{
    background-color:#FBE192;
}

.selected{
    background-color: #8DD7CF;
}

.booking{
    width: 225px;
    height: 42px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e0000;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 100px;
}

.footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    display: flex;
    padding-left: 18px;
    justify-content: flex-start;
    align-items: center;
    background-color: #8e0000;
    z-index: 5;
}

.footer img{
    height: 72px;
    
}

.info-footer{
    height: fit-content;
    margin-left: 20px;
    font-size: 24px;
}

.schedule-button{
    width: 80px;
    height: 40px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 15px;
    background-color: #8e0000;
}

.schedule{
    margin-bottom: 25px;
}

.seats{
    width:fit-content;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(10, minmax(10px,20px));
    gap:15px;
    
}
.inputs{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    padding-left: 10px;
}

.input{
    width:300px;
    display: flex;
    flex-direction: column;
}
.input span{
    font-size: 22px;
    margin-bottom: 15px;
}

.input input{
    height: 51px;
    width: 100%;
}

.inputs .input:first-child{
    margin-bottom: 10px;
}

.subtitle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    color: whitesmoke;
}

.subtitle div{
    font-size:20px;
    
}

.container-booking{
    margin: 0 auto;
}