.header{
    height: 67px;
    color:black;
    font-size: 34px;
    background-color: #C3CFD9;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title{
    width: 100%;
    font-size: 24px;
    text-align: center;
    margin: 30px 0 ;
}

.film-poster{
    width: 130px;
}

.film-poster img{
    width: 100%;
}

.movies{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.session{
    margin-left: 20px;
    font-size: 20px;
    margin-bottom: 30px;
}

.session span{
    margin-bottom: 10px;
}

.seat{
    background-color: #C3CFD9;
    border: 1px solid #808F9D;
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.not-available{
    background-color:#FBE192;
}

.selected{
    background-color: #8DD7CF;
}

.booking{
    width: 225px;
    height: 42px;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: coral;
    margin: 0 auto;
}